---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "Ayudamos a un cliente a obtener financiamiento para la compra de un carro nuevo, lo que resultó en una tasa de aprobación del 90% y una experiencia de compra sin fricciones.",
    link: "https://google.com", // Cambiar a la página del caso de estudio
  },
  {
    index: 1,
    title:
      "Implementamos una estrategia de inversión para un cliente que buscaba altos rendimientos, logrando un 12% de interés anual en menos de 6 meses.",
    link: "https://google.com", // Cambiar a la página del caso de estudio
  },
  {
    index: 2,
    title:
      "Ayudamos a un usuario a vender su carro usado de manera rápida y segura a través de nuestra plataforma, con una transacción finalizada en solo 48 horas.",
    link: "https://google.com", // Cambiar a la página del caso de estudio
  },
];


import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Casos de éxito"
    description="Explora ejemplos reales de nuestro éxito en el marketing digital a través de nuestros casos de estudio"
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-white rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
              <a href={card.link} class="flex items-center gap-[15px]">
                <span class="text-green">Conoce más</span>
                <picture>
                  <Image src={larrow} alt="Arrow pointing up right" />
                </picture>
              </a>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
