---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Contactanos"
      description="Conecta con nosotros: Dejános llevarte al éxito"
    />
    <Form />
  </div>
</Section>
