---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Experiencias de nuestros clientes" 
      description="Escucha a nuestros clientes satisfechos: Lee nuestros testimonios para conocer más sobre nuestros servicios"
    />
    <div class="rounded-[45px] bg-dark mb-[150px] text-white">
      <SwiperSlider />
    </div>
  </div>
</Section>
